body {
    margin: 0%;
}
header {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80px;
}
.logo {
    flex: .2;
    display: flex;
    align-items: center;
}
.logo>img {
    width: 80%;
    height: auto;
    max-width: 100px;
}
.menu {
    flex: .6;
    display: flex;
    justify-content: end;
    button {
        font-size: 1rem;
        background-color: rgb(240, 143, 240);
        padding: 1%;
        cursor: pointer;
    }
}
.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?t=st=1744088493~exp=1744092093~hmac=f7815f3af63d73cedeb71426d5fc6d1caff4181885161124b18b12a4ba3bbe14&w=996");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
        button {
            font-size: 1.5rem;
            color: white;
            background-color: purple;
            margin: 10%;
            width: 30%;
            cursor: pointer;
        }
}
.aboutsection, .servicesection, .blogsection, .testimonialsection {
    background-color: rgb(224, 221, 221);
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
img {
    width: 100%;
    height: auto;
}
.testimonialsection {
    flex-direction: column;
}
footer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    .links, .social, .newsletter, .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    * {
        margin: 0%;
    }
}
@media screen and (width <= 375px) {
    .pcmenu {
        display: none;
    }
    .itempc {
        display: none;
    }
    .cpmenu {
        display: flex;
        flex-direction: row;
    }
    .itemcp> button {
        display: flex;
        flex-direction: column;
    }
    .banner> button {
        font-size: 1rem;
    }
    .testimonialsection> .itemcp {
        display: flex;
        flex-direction: column;
        button {
        width: 50%;
        height: 100%;
        font-size: 1.5rem;
        align-self: center;
        margin-top: 5%;
        }
    }
    .aboutsection, .servicesection, .blogsection, .testimonialsection {
        flex-direction: column;
    }
    footer {
        .contact, .newsletter {
            flex-direction: column;
        }
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2, p {
        text-align: center;
        margin: 1%;
    }
}
@media screen and (width >= 376px) and (width <= 744px) {
    .cpmenu {
        display: none;
    }
    .itemcp {
        display: none;
    }
    .aboutsection, .servicesection, .blogsection, .testimonialsection {
        flex-direction: column;
    }
    .testimonialsection> .itempc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        .testimonial {
            display: flex;
            flex-direction: column;
        }
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2, p {
        text-align: center;
        margin: 1%;
    }
}
@media screen and (width >= 745px) and (width <= 1440px) {
    .cpmenu {
        display: none;
    }
    .pcmenu {
        width: 50%;
        display: flex;
        justify-content: end;
        gap: 10%;
    }
    .itemcp {
        display: none;
    }
    .aboutsection, .blogsection {
        flex-direction: row;
        gap : 5%;
    }
    .servicesection {
        flex-direction: row-reverse;
        gap: 5%;
    }
    .item1 {
        flex: 1;
    }
    .item2 {
        flex: 1;
    }
    .testimonialsection> .itempc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        .testimonial {
            display: flex;
            flex-direction: column;
        }
    }
    h1 {
        font-size: 5rem;
        text-align: center;
    }
    h2, p {
        text-align: center;
        margin: 1%;
    }
    h2 {
        font-size: 2rem;
    }
    p, li {
        font-size: 1.5rem;
    }
}
@media screen and (width >= 1441px) {
    .cpmenu {
        display: none;
    }
    .pcmenu {
        width: 50%;
        display: flex;
        justify-content: end;
        gap: 10%;
    }
    .itemcp {
        display: none;
    }
    .aboutsection, .blogsection {
        flex-direction: row;
        gap : 5%;
    }
    .servicesection {
        flex-direction: row-reverse;
        gap: 5%;
    }
    .item1 {
        flex: 1;
    }
    .item2 {
        flex: 1;
    }
    .testimonialsection> .itempc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5%;
        .testimonial {
            display: flex;
            flex-direction: column;
        }
    }
    h1 {
        font-size: 8rem;
        text-align: center;
    }
    h2, p {
        text-align: center;
        margin: 1%;
    }
    h2 {
        font-size: 3rem;
    }
    p, li {
        font-size: 1.5rem;
    }
}
